@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html,
body,
#__next {
	height: 100%;
	width: 100%;
}

#__next {
	overflow: auto;
}

.steps {
  display: flex;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.step span {
  font-size: 16px;
}

.active {
  background-color: #007bff;
  color: #fff;
}
 */

.center_button{
position: absolute;
top: 50%;
left: 25%;
transform: translate(-50%, -25%);

}